/* style contents for mobile only */

@media (max-width: 769px) {
  .body {
    padding: 30px;
  }
  .flex-containerz {
    flex-direction: column-reverse !important;
  }
  .bodyp1 {
    font-size: 1.5rem;
    font-family: "poppings", sans-serif;
    font-weight: bold;
  }
  .bodyh1 {
    font-size: 3rem;
    font-family: "poppings", sans-serif;
    font-weight: bold;
  }
  .bodyp2 {
    font-size: 1rem;
    font-family: "poppings", sans-serif;
  }
  .flex-itemb {
    margin-bottom: 20px;
  }
  .imgh {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
  }
  .img-body {
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px 5px #2cff6d;
  }
  .img-body:hover {
    box-shadow: 0 0 40px 10px #2cff6d;
  }
  .bouncing-circle {
    margin-top: 70px;
  }
}

/* style contents for larger screens only */

@media (min-width: 769px) {
  .body {
    padding-left: 100px;
    padding-right: 100px;
    padding: 100px;
  }

  .bodyp1 {
    margin-top: 30px;
    font-size: 2rem;
    font-family: "poppings", sans-serif;
    font-weight: bold;
  }
  .bodyh1 {
    font-size: 4rem;
    font-family: "poppings", sans-serif;
    font-weight: bold;
  }
  .bodyp2 {
    font-size: 1.5rem;
    font-family: "poppings", sans-serif;
  }
  .flex-itemb {
    width: 50%;
    margin: 10px;
  }
  .imgh {
    width: 500px;
    height: 500px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
    transform: scale(2.5);
  }
  .img-body {
    margin-left: 50px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 0 0 20px 5px #2cff6d;
  }
  .img-body:hover {
    box-shadow: 0 0 40px 10px #2cff6d;
  }
}

/* stylings that doesnt affect screens only */

.body {
  color: white;
  background-color: #142517;
  align-items: center;
}
.flex-containerz {
  display: flex;
}

/* bouncing css  */

.bouncing-circle {
  animation: bounce-grow 4s ease-in-out;
}

@keyframes bounce-grow {
  0% {
    transform: translateY(0) scale(0.1);
  }

  25% {
    transform: translateY(-130px) scale(0.25);
  }
  50% {
    transform: translateY(0px) scale(0.5);
  }

  75% {
    transform: translateY(-130px) scale(0.75);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
