/* style contents for mobile only */

@media (max-width: 769px) {
  .flex {
    display: flex;
  }
  .flex-item-contact1 {
    margin-bottom: 30px;
  }
  .input {
    margin: 5px;
    width: 80vw;
    height: 5vh;
    border-radius: 10px;
  }
  .comment {
    margin: 5px;
    width: 80vw;
    height: 30vh;
    border-radius: 10px;
  }
  .input-btn {
    margin-top: 5px;
    margin: 5px;
    height: 4vh;
    width: 80vw !important;
    border-radius: 10px;
  }
  .flex-container-input {
    margin-top: 20px;
  }
}

/* style contents for larger screens only */

@media (min-width: 769px) {
  .flex {
    display: flex;
    margin-top: 40px;
  }

  .flex-item-contact1 {
    width: 30%;
    margin-right: 30px;
  }
  .flex-item-contact2 {
    width: 70%;
  }
  .input {
    border-radius: 10px;
    height: 6vh;
  }
  .comment {
    margin-top: 10px;
    width: 55vw !important;
    height: 40vh;
    border-radius: 10px;
  }
  .input-btn {
    margin-top: 10px;
    width: 55vw !important;
    border-radius: 10px;
  }
  .flex-container-input {
    display: flex;
    margin: 20px;
    justify-content: space-between;
  }
}

/* stylings that doesnt affect screens only */
.flex-item-contact2 {
  color: white;
  padding: 20px;
  background-color: #142517 !important;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(8, 8, 8, 0.5);
}
.flex-item-contact1 {
  color: #142517 !important;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(8, 8, 8, 0.5);
  background-color: #;
}
.grey {
  color: #142517 !important;
  font-family: "poppings", sans-serif;
}
