/* style contents for mobile only */

@media (max-width: 769px) {
  .projectcard {
    margin-bottom: 30px !important;
  }
  .bt {
    justify-items: center !important;
    align-self: center !important;
    margin-top: 50px !important;
  }
  .proanc {
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 30px;
  }
  .projecth1 {
    font-size: 2em;
    color: rgb(17, 17, 17);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

/* style contents for larger screens only */

@media (min-width: 769px) {
  .projecth1 {
    font-size: 3em;
    color: rgb(12, 12, 12);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

/* stylings that doesnt affect screens only */
.picard {
  position: relative;
  width: 100% !important;
  height: 35vh !important;
}

.picard:hover .boxbt {
  opacity: 1;
}
.ptext {
  color: #faf8f8;
}
.boxbt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.7); /* Black with 60% opacity */
  opacity: 0;
  transition: opacity 0.3s ease;
}
.col {
  margin-top: 20px;
}

.card-img {
  height: 100%;
  width: 100%;
}
.projectcard {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #142517 !important;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(8, 8, 8, 0.5);
}
.bt {
  margin: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: Arial;
  align-self: center !important;
  border-bottom-color: #2cff6d;
  border-width: 3px;
  border-bottom-style: solid;
  padding: 10px;
}
.bt:hover {
  color: #2cff6d;
}
.mrow {
  margin: 10px;
  text-align: center;
  font-weight: bold;
}
